<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.sourceforge.io/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="severity" value="error"/>

    <module name="TreeWalker">

        <!-- Индентац 2 space -->
        <module name="Indentation">
            <property name="basicOffset" value="2"/>
            <property name="tabWidth" value="2"/>
        </module>

        <!-- MethodLength - Хязгааргүй -->
        <module name="MethodLength">
            <property name="max" value="150"/>
        </module>

        <!-- Ангийн нэр том үсгээр эхлэх ёстой -->
        <module name="TypeName"/>

        <!-- Аргумент, хувьсагч camelCase байх -->
        <module name="LocalVariableName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="MemberName"/>

        <!-- Хоосон блокыг зөвшөөрөхгүй -->
        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>

        <!-- Ашиглагдаагүй импорт -->
        <module name="UnusedImports"/>

        <!-- Нэг мөрөнд нэг statement зөвшөөрнө -->
        <module name="OneStatementPerLine"/>

        <!-- If, while, for нь үргэлж фигур хаалттай байх -->
        <module name="NeedBraces"/>

        <!-- Импортын дараалал Google стандарт -->
        <module name="CustomImportOrder">
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="customImportOrderRules" value="STATIC###STANDARD_JAVA_PACKAGE###THIRD_PARTY_PACKAGE###SAME_PACKAGE"/>
        </module>

        <!-- Мөрийн урт 100 тэмдэгтээс хэтрэхгүй -->
        <module name="LineLength">
            <property name="max" value="100"/>
        </module>

        <!-- Операторуудын өмнө болон хойно зай авах -->
        <module name="WhitespaceAround"/>
        <module name="WhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>

        <!-- Return, throw дараа нь хоосон мөр оруулах -->
        <module name="EmptyLineSeparator">
            <property name="tokens" value="METHOD_DEF, CLASS_DEF, INTERFACE_DEF, ENUM_DEF"/>
        </module>
    </module>

    <!-- Код UTF-8 байх -->
    <module name="FileEncoding">
        <property name="encoding" value="UTF-8"/>
    </module>
</module>